.section {
	padding-bottom: 125px;
}

.content {
	background: radial-gradient(176.74% 176.74% at 48.05% -52.08%, #F1CD8F 0%, #F1CD8F 23.96%, #F77A55 100%);
	border-radius: 5px;
	max-width: 950px;
	margin: auto;
	padding: 44px 61px 52px 61px;
	position: relative;
	overflow: hidden;
}

.heading, .subheading {
	opacity: 90%;
}
.heading {
	font-size: 30px;
	line-height: 38px;
	color: var(--neutral-9);
	margin-bottom: 14px;
}
.subheading {
	font-size: 21px;
	line-height: 29px;
	color: var(--golden-purple-6);
	text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.3);
	margin-bottom: 39px;
}

.form {
	display: flex;
	align-items: stretch;
	height: 50px;
	max-width: 551px;
}
.input {
	max-width: 66% !important;
	margin-right: 31px !important;
}
.button {
	height: 100% !important;
	width: 153px;
}

.heading, .subheading, .form {
	position: relative;
	z-index: 1;
}

.pattern {
	position: absolute;
	width: 41%;
	top: -65%;
	right: -10%;
	z-index: 0;
}

@media (max-width: 768px) {
	.content {
		padding: 40px 35px 48px 35px;
	}
	.input {
		margin-right: 15px !important;
	}
	.pattern {
		top: -40%;
	}
}

@media (max-width: 576px) {
	.section {
		padding-bottom: 90px;
	}
	.content {
		padding: 32px 33px 35px 35px;
	}
	.heading {
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 10px;
	}
	.subheading {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 34px;
	}
	.button {
		width: 133px;
	}
}

@media (max-width: 400px) {
	.section {
		padding-bottom: 60px;
	}
	.heading {
		font-size: 25px;
		line-height: 33px;
	}
	.form {
		height: auto;
		flex-direction: column;
	}
	.input {
		max-width: 100% !important;
		margin-bottom: 20px !important;
	}
	.button {
		width: 100%;
	}
	.pattern {
		top: -20%;
		right: -20%
	}
}