.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}
.button {
	width: 153px;
	height: 54px !important;
}

@media (max-width: 576px) {
	.content {
		padding-top: 30px;
	}
}

@media (max-width: 400px) {
	.content {
		padding-top: 20px;
	}
	.logo {
		width: 140px;
		margin-right: 10px;
	}
	.button {
		width: auto;
		height: auto !important;
		padding: 3% !important;
		font-size: 1em;
	}
}