:root {
	--neutral-2: #FAFAFA;
	--neutral-4: #F0F0F0;
	--neutral-8: #595959;
	--neutral-9: #434343;
	--golden-purple-5: #9254DE;
	--golden-purple-6: #722ED1;
	--golden-purple-7: #531DAB;
	--golden-purple-8: #391085;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
